body {
  background-image: url("../images/SpaceSky.png");
  background-repeat:no-repeat;
  background-size:cover;
}

h1{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 5rem;
  text-align:center;
  margin-top:0px;
}

.gameContainer{
  display: flex;
  flex-direction: center;
  justify-content: center;
}

#gameContainer h2,
#gameContainer ul {
    font-family: "Pixelify Sans", sans-serif;
    color:white;
    margin: 0;
    padding: 0;
}

canvas {
  background-image: url("../images/sky.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Add space between canvas and leaderboard */
}

ul {
    list-style-type: none;
    margin-top: 10px;
}


