body {
    background-image: url("../images/SpaceSky.png");
    background-repeat:no-repeat;
    background-size:cover;
  }

h1{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 5rem;
  text-align:center;
  margin-top:0px;
}


