body {
    background-image: url("../images/SpaceSky.png");
    background-repeat:no-repeat; /*The image will cover the entire screen without repeating*/
    background-size:cover;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 5rem;
    text-align:center;
    margin-top:0px;
    opacity: 1;  /*The header is visible */
    transition: opacity 1s ease; /* Smooth transition for fading */
}


h2{
    font-size: 2.5rem;
    margin-top:0px;
}

h3{
    color:red;
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}

p2{
    color: red;
    font-size: 2rem;
}

.hidden {
    opacity: 0; /* To hide the header */
}
  
.topBar { /*The top navigation bar*/
    overflow: hidden;
    background-color: #333;
    position: sticky; /*So that it will still be at the top of the screen even when scrolling*/
    top:0px;
}
  
.topBar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  
.topBar a:hover {
    background-color: hsl(214, 93%, 45%);
    color: black;
}

#logInOut:hover{
    cursor:pointer;
}

  
.buttonContainer{ /*Container for the buttins displayed at the center of the scren in a column*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer button{ /*Buttons with rounded edges*/
  font-family: "Pixelify Sans", sans-serif;
  font-size:3.5rem;
  color:white;
  background-color: hsl(214, 98%, 18%);
  border:1px solid white;
  margin:15px;
  margin-top:0px;
  width:50%;
  height:5rem;
  border-radius:20px;
  cursor:pointer;
}

.buttonContainer button:hover{
  background-color: hsl(214, 98%, 8%);
}



  