body {
    background-image: url("../images/SpaceSky.png");
    background-repeat:no-repeat; /*The image will cover the entire screen without repeating*/
    background-size:cover;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

h1{ /*Header that will remain at the top of the screen */
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 2.5rem;
    text-align:center;
    margin-top:0px;
}

p{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.wrapper{  /* Wrapper to center the form on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  position: relative;
  left: 3px;
}

.formContainer{ /*Style for the form */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container { /* Container styling */
  padding: 16px;
  background-color: hsl(214, 98%, 18%);
  border: 1px solid white;
  border-radius: 20px;
  width: 100%;
  max-width: 400px; /* Limit the maximum width */
  text-align: center;
  margin-bottom: 0px;
}

input[type=text], input[type=password] { /* Full-width input fields */
  width: 80%; /* 80% width within the container */
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  outline: 2px solid black;
}

input[type=text]:focus, input[type=password]:focus { /*When the field is selected, it will darken a bit */
  background-color: #ddd; 
}


.login { /* Style for the submit button */
  background-color: white;
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%; /* 40% width within the container */
  opacity: 0.9;
  outline: 1px solid black;
  font-size:1rem;
}

a {
  color: black;
}